<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block head %}{% endblock %}
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    	<link rel="stylesheet" href="/static/css/bootswatch.min.css">
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	</head>
	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="/">GitPyt</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				  <ul class="nav navbar-nav">
				    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
				    <li><a href="#">Link</a></li>
				  </ul>
				  <form class="navbar-form navbar-left" role="search">
				    <div class="form-group">
				      <input type="text" class="form-control" placeholder="Search">
				    </div>
				    <button type="submit" class="btn btn-default">Submit</button>
				  </form>
				  <ul class="nav navbar-nav navbar-right">
				    <li class="dropdown">
				    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
				      	<ul class="dropdown-menu" role="menu">
					        <li><a href="#">Profile</a></li>
					        <li><a href="#">Settings</a></li>
					        <li class="divider"></li>
					        <li><a href="#">Logout</a></li>
				    	</ul>
				    </li>
				  </ul>
				</div>
			</div>
  		</nav>

		<div class="container">
			{% block body_block %}{% endblock %}
		</div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootswatch.js"></script>

	</body>
</html>