{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Made Repo{% endblock %}
{% block head %}
	<link rel=" stylesheet" type="text/css" href="{% static 'gitpyt/style.css' %}" />
{% endblock %}

{% block body_block %}
			<h1>Made a Repo</h1>
			<p>Now that was easy...did it work?</p>
			<a href="/">Home</a>
			<form class="form-horizontal" action="/createrepository/new/" method="post">{% csrf_token %}
				<label for="home">Home: </label>
				<input id="home" type="text" name="home"><br>
				<label for="projectName">Project Name: </label>
				<input id="projectName" type="text" name="projectName">
				<input type="submit" value="Create">
			</form>
			<h4>Current Repos</h4>
			{% for item in dirContents %}
				<p>{{ item }}</p>
			{% endfor %}
{% endblock %}