html, body {
	height: 100%;
	background-color: #0066FF;
	margin: 0;
	padding: 0;
}

#wrapper {
	background-color: #599CFF;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	min-height: 100%;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	text-align: center;
}